# This file contains settings for coverage.py

[run]
# Change to True some day?
branch = False
# branch = True
omit =
    *six.py
    multipart/tests/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Re-enable the standard pragma
    pragma: no cover

    # Ignore defensive assertions
    raise NotImplementedError

    # Ignore debugging representations.
    def __str__
    def __repr__

    # Exclude code that can't be executed.
    if 0:
    if False:
    if __name__ == .__main__.:

    # Exclude stuff for debugging
    if self\.config\['DEBUG'\]:
    if self\.debug:

    # Ignore import exceptions
    except ImportError:

    # Ignore python compatibility.
    if PY3

