Jinja2==2.6
PyYAML==3.10
Pygments==1.6
Sphinx==1.2b1
cov-core==1.7
coverage==3.6
distribute==0.6.34
docutils==0.10
invoke==0.2.0
mock==1.0.1
pexpect-u==2.5.1
py==1.4.13
pytest==2.3.4
pytest-capturelog==0.7
pytest-cov==1.6
pytest-timeout==0.3
sphinx-bootstrap-theme==0.2.0
tox==1.4.3
virtualenv==1.9.1
wsgiref==0.1.2
