Jinja2==2.11.3
PyYAML==5.1
Pygments==2.7.4
Sphinx==1.2b1
cov-core==1.7
coverage==3.6
distribute==0.6.34
docutils==0.10
invoke==0.2.0
pexpect-u==2.5.1
py==1.10.0
pytest==6.2.5
pytest-capturelog==0.7
pytest-cov==1.6
pytest-timeout==0.3
sphinx-bootstrap-theme==0.2.0
tox==1.4.3
virtualenv==1.9.1
wsgiref==0.1.2
