name: Python package

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Test with pytest
        run: |
          # This should be inv test but invoke does not have python3.11 support yet.
          # See https://github.com/pyinvoke/invoke/issues/891 for details
          pytest
